@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e9ec;
}

.custom-snackbar {
    margin-left: 480px !important;
  }
  
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}  